{% extends 'rajksimple/rajksimple_base.html' %}

{% block content %}
<div class="container">
    <div class="row h-100 justify-content-center align-items-center">
        {% for a in accounts %}
            <div class="col text-center" style="padding:10px;">
                <div style="background: rgba(220, 220, 220, 0.8);border: 3px solid #3fb561">
                    <a href="{% url 'rajksimple:account' a.id  %}"><h4 style="padding:9px">{{ a.name }}</h4></a>
                </div>
                <hr>
            </div>
        {% endfor %}
    </div>
    {% if accinst %}
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-12 text-center" style="height:160px">
                <h3>{{ accinst.name }}</h3>
                {% if accinst.description %}
                    <p>
                        {{ accinst.description }}
                    </p>
                {% endif %}
            </div>
        </div>
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-8">
                <form method="post" class="form-style-7" action="{% url 'rajksimple:confirm' %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-6">
                            <ul>
                                <input type="hidden" name="account" value="{{accinst.id}}">
                                <li>
                                    {{form.lastName.label_tag}}
                                    {{form.lastName}}
                                    
                                </li>
                                <li>
                                    {{form.email.label_tag}}
                                    {{form.email}}
                                </li>
                                <li>
                                    {{form.cause.label_tag}}
                                    {{form.cause}}
                                </li>
                                <li></li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul>
                                <li>
                                    {{form.firstName.label_tag}}
                                    {{form.firstName}}
                                </li>
                                <li>
                                    {{form.classOf.label_tag}}
                                    {{form.classOf}}
                                </li>
                                <li>
                                    {{form.comment.label_tag}}
                                    {{form.comment}}
                                </li>
                                <li></li>
                            </ul>
                        </div>
                        <div class="col-12">
                            <ul>
                                <li>
                                    {{form.amount.label_tag}}
                                    {{form.amount}}
                                </li>
                                <li></li>
                            </ul>
                        </div>


                        <div class="col-12">
                            <ul>
                                <li>
                                    <input type="submit" value="{{ accinst.submittext }}">
                                </li>
                            </ul>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    {% endif %}
</div>
{% endblock %}