{% extends 'rajksimple/rajksimple_base.html' %}

{% block content %}
<div class="container">
    {% if cancelled %}
        <h2>Megszakított tranzakció.</h2>
        Megszakította a tranzakciót!
    {% else %}
        {% if succ %}
        <h2>Sikeres tranzakció.</h2>
        Köszönjük a támogatást!
        {% else %}
        <h2>Sikertelen tranzakció.</h2>
        Kérjük, ellenőrizze a tranzakció során megadott adatok helyességét.
        Amennyiben minden adatot helyesen adott meg, a visszautasítás okának kivizsgálása kapcsán kérjük,
        szíveskedjen kapcsolatba lépni kártyakibocsátó bankjával.
        {% endif %}
    {% endif %}
    <hr>
    SimplePay referenciaszám: {{ payrefno }}
    <br>
    Megrendelés azonosító: {{ orderid }} <br>
    Dátum: {{ date }}
</div>
{% endblock %}